@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .stroke-text {
    -webkit-text-fill-color: transparent;
  }
}




::selection {
  background-color: theme('colors.lime.400');
  color: #000000;
}