@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .stroke-text {
    -webkit-text-fill-color: transparent;
  }
}

/* Pointer (clickable) cursor */
.cursor-pointer,
a,
button,
[role="button"],
input:is([type="submit"], [type="button"]) {
  cursor: url('/pointer-lime.svg'), pointer;
}

body {
  cursor: url('/cursor-lime.svg'), auto;
  background-color: #000;
}


p, span, h1, h2, h3, input, textarea, code,label, pre {
  cursor: text !important;
}

::selection {
  background-color: #a3e537;
  color: #000000;
}